.main{
    display: flex;
    padding: 100px;
}
.secondSection{
    padding-left: 50px;
}
.user{
    width: 400px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px;
}