<div class="main">
  <app-user></app-user>
  <div class="secondSection">
    <div class="links">
      <div class="linksSection">
        <a
          (click)="postLinkClick()"
          class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >Write a Post</a
        ><a
          (click)="uploadPicLinkClick()"
          class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >Upload a Pic</a
        >
      </div>
      <button class="btn btn-primary post" (click)="postButtonClick()">
        Post
      </button>
    </div>
    <span *ngIf="showStatus1">{{status1}}</span>
    <div>{{ isPosted }}</div>
    <div class="form-floating mt-3" *ngIf="showTextArea">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        style="height: 100px"
        [(ngModel)]="textArea"
      ></textarea>
      <label for="floatingTextarea2">Write a Post</label>
    </div>
    <div class="text-center mt-3" *ngIf="showPicSelectionArea">
      <input class="form-control" type="file" (change)="onFileSelected($event)" />
    </div>
    <div class="existingPosts">
      <span *ngIf="showStatus">{{ status }}</span>
      <!-- <div class="post" *ngFor="let post of postList">
        <span>{{ post.post }}</span>
      </div> -->
      <app-post [post]="post.post" *ngFor="let post of postList"></app-post>
    </div>
  </div>
</div>
