<div
  class="container d-flex min-vh-100 align-items-center justify-content-center flex-column"
>
  
  <form>
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <div class="mb-3">
      <label for="cPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="cPassword" />
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">SAVE</button>
    </div>
  </form>
</div>
